:root {
  --logo-color: rgb(0, 0, 0);
  --primary-color: #fad390;
  --background-card-color: #fff;
  --hover-color: rgb(153, 153, 153);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #38ada9;
  font-family: "Fira Code", monospace, Arial, Helvetica, sans-serif;
}
